.close-button {
    @include opacity-hover;
    @include img("controls/close.svg", auto 50%);
    @include size(2rem);
}

.value {
    align-items: center;
    display: inline-block;

    &__space {
        margin: 0 0.5em;
    }

    &__icon {
        @include img(null, auto 1.5em, left center);
        padding-left: 1.8em;
    }

    &__name {
        display: inline-block;
    }

    &__main {
        display: inline-block;
    }

    &__current {
        display: inline-block;
        font-weight: bold;

        &--positive {
            color: $light-green-color;
        }

        &--negative {
            color: $light-red-color;
        }

        &--zero {
            color: $light-color;
        }

        &--invalid {
            color: $light-red-color;
        }
    }

    &__max {
        display: inline-block;
        
        &:before {
            content: "/";
            display: inline-block;
            margin: 0.2rem;
        }
    }
}

.stack {
    display: block;
    margin-top: 1.5rem !important;

    &__main {
        display: flex;
        justify-content: left;
        width: 100%;

        & > button {
            @include size(2rem);
        }
    }

    &__items {
        @include size(calc(100% - 6.5rem), 2.5rem);
        box-sizing: border-box;
        margin-right: 2.2rem;
        white-space: nowrap;
        width: calc(100% - 6.5rem);
    }

    &__button {
        @include opacity-hover;
        @include size(2rem);

        &--remove {
            @include img("controls/minus.svg", auto 50%);
        }

        &--add {
            @include img("controls/plus.svg", auto 50%);
        }

        &:disabled {
            visibility: hidden;
        }
    }

    &__item {
        display: inline-block;
        overflow: visible;
        @include size(2.5rem);

        &--inner {
            @include img;
            @include size(2.5rem);
        }
    }

    &__info {
        font-size: 90%;
    }

}