@use "sass:meta";

@mixin size($width: 100%, $height: $width, $line: false) {
    height: $height;
    width: $width;

    @if $line {
        line-height: $height;
    }
}

@mixin padding($padding) {
    box-sizing: border-box;
    padding: $padding;
}

@mixin pos($props...) {
    position: absolute;

    @each $prop in $props {
        #{$prop}: 0;
    }
}

@mixin opacity-hover($opacity: 0.6, $duration: $medium-duration) {
    opacity: $opacity;
    transition: opacity $duration;

    &:hover, &:active {
        opacity: 1;
    }
}

@mixin img($path, $size: auto 100%, $position: center center, $repeat: no-repeat) {
    background-image: url(/#{$path});
    background-position: $position;
    background-repeat: $repeat;
    background-size: $size;
}