$darkest-color: #111;
$dark-color: #212121;
$medium-color: #444;
$light-color: #AAA;
$lightest-color: #EEE;

$semitransparent-darkest: rgba(0, 0, 0, 0.3);

$sidebar-width: 300px;

$fast-duration: 0.1s;
$medium-duration: 0.2s;
$slow-duration: 0.4s;