$darkest-color: #111;
$dark-color: #212121;
$medium-color: #444;
$light-color: #AAA;
$lightest-color: #EEE;

$light-green-color: #8E8;
$light-red-color: #E55;

$semitransparent-darkest: rgba(0, 0, 0, 0.4);
$semitransparent-lightest: rgba(255, 255, 255, 0.1);

$fast-duration: 0.1s;
$medium-duration: 0.2s;
$slow-duration: 0.4s;

$sidebar-width: 300px;

$object-header-height: 2.5rem;