.root {

}

.canvas {

}

.ui {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;

    & > * {
        pointer-events: all;
    }

    &__right {
        @include pos(right, top);
        @include size($sidebar-width);
        overflow-y: auto;
    }

    &__minimap {
        border-left: 2px solid $medium-color;
        border-bottom: 2px solid $medium-color;
        box-sizing: border-box;
        height: $sidebar-width;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        width: $sidebar-width;
    }
    
}