.root {
    border-left: 2px solid $medium-color;
    border-bottom: 2px solid $medium-color;
    height: $sidebar-width;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: $sidebar-width;
}
