.root {
    position: relative;
}

.main {
    display: flex;
}

.image {
    @include img(null, cover);
    @include size(3.5rem);
    flex: 0 0 3.5rem;
}

.content {
    flex: 1 0 0;
    font-size: 85%;
    margin-left: 0.5rem;
}

.name {
    display: inline-block;
    font-size: 120%;
    margin: 0;
    margin-bottom: 0.3rem;
    padding: 0;

    &__container {
        white-space: nowrap;
    }
}

.upgrade {
    @include img("controls/upgrade.svg", 60%);
    @include opacity-hover;
    @include pos(right, bottom);
    @include size(2rem);
    margin: -0.5rem 0;
}

.resources {
    @include gap(0.5rem);
    font-size: 90%;
}