.root {
    position: relative;
}

.main {
    display: flex;
}

.image {
    @include img(null, cover);
    @include size(3.7rem);
    flex: 0 0 4rem;
}

.content {
    flex: 1 0 0;
    font-size: 85%;
    margin-left: 0.5rem;
}

.name {
    display: inline-block;
    font-size: 115%;
    margin: 0;
    margin-bottom: 0.2rem;
    padding: 0;
}

.resources {
    @include pos(right);
    background-color: $semitransparent-darkest;
    padding: 0.5rem;
    top: 100%;
    z-index: 10;

    & > div {
        display: block;
    }
}

.upgrade {
    @include img("controls/upgrade.svg", 60%);
    @include opacity-hover;
    @include pos(right, bottom);
    @include size(2rem);
    margin: -0.5rem 0;
}