.root {

    & > div {
        margin: 0.3rem 0;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > div {
        flex: 1 1 0;
        overflow: hidden;
    }
}

.upgrades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -3rem !important;

    & > div {
        margin-bottom: 1.5rem;
        width: 15rem;
    }

}

.section {

    &__title {
        font-size: 125%;
        margin: 1rem 0;
        margin-top: 2rem;
    }

}

.fleet {
    @include size(10.5rem, 17rem);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    &__slots {
        @include size(3rem, 100%);
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0.25rem;

        &--defence {
            justify-content: space-between;
        }
    }

    &__slot {
        @include size(3rem);
        border: 1px dashed $medium-color;
        cursor: pointer;
        margin: 0.125rem;
        transition: background-color $fast-duration, border-color $medium-duration;

        &:hover {
            background-color: $medium-color;
            border-color: $light-color;
        }

        &--inactive {
            display: none;
        }
    }

}