.root {

    & > div {
        margin: 0.3rem 0;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > div {
        width: 100%;
    }
}

.upgrades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > div {
        margin-bottom: 1.5rem;
        width: 15rem;
    }

}