.root {
    @include size(35rem, 32rem);
    background-color: $semitransparent-darkest;
    color: $lightest-color;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    &:empty {
        display: none;
    }

    & > * {
        pointer-events: all;
    }
}

.header {
    @include size(100%, $object-header-height, true);
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.main {
    @include padding(1rem);
    @include size(100%, calc(100% - $object-header-height));
    background-color: $dark-color;
    overflow-y: auto;
}

.title {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.owner {
    display: inline-block;
    margin-right: 1rem;
}